<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>
  <p>Peace of mind from prototype to production</p>
</section>

<section class="row">
  <article class="column">
    <h2>New game</h2>
    <br />
    <%= form_tag("/test") do
      [tag(:input, type: "text", name: "name"),
       tag(:input, type: "submit", value: "New game")
      ]
    end%>
  </article>
</section>
